* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
}
/* *** globle *** */
::before,
::after,
html {
  scroll-behavior: smooth;
  transition: all 300ms ease;
}
.container {
  width: 1220px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}
a:hover,
button:hover {
  cursor: pointer;
}
/* *** globle *** */
/* start header */
.header-container {
  display: flex;
  background-color: #303030;
}
.header-container > .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.head-menu {
  align-items: center;
  color: #fff;
  font-size: 20px;
}
.head-menu > .container {
  width: 500px;
}
.head-menu .menu-list {
  display: inline-flex;
  padding: 10px 0;
  width: 100%;
  justify-content: space-evenly;
}
.head-menu ul li {
  position: relative;
}
.head-menu ul li:not(:last-of-type):after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0px;
  background-color: #fff;
  width: 2px;
  border-radius: 2px;
  height: 100%;
}
.head-menu .container ul li a:hover {
  opacity: 75%;
}
/* icon section */
.head-icons {
  width: 250px;
  padding: 10px 0;
}
.head-icons .icons-list {
  list-style: none;
  display: flex;
}
.head-icons ul li a {
  padding: 10px;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
}
/* end header  */
/* start navbar */
.navbar .container ul {
  display: flex;
  padding: 30px 0 40px;
}
.navbar .container ul li {
  margin-bottom: 15px;
  letter-spacing: -0.8px;
  margin-right: 10px;
}
.navbar .container ul li a {
  color: #303030;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-size: 20px;
  position: relative;
}
.navbar .container ul li a::after,
.navbar .container .active::after {
  content: "";
  background-color: #0099ff;
  position: absolute;
  bottom: -20px;
  right: 0;
  border-radius: 2px;
  height: 4px;
  width: 0;
}
.navbar .container .active,
.navbar .container ul li a:hover {
  opacity: 80%;
}
.navbar .container .active::after,
.navbar .container ul li a:hover::after {
  width: 100%;
  left: 0;
}
/* end navbar */
hr {
  max-width: 95vw;
  margin-top: -40px;
  height: 5px;
  background-color: #eee;
  border: none;
}
/* start head and search-bar */
.name-sec .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.name-sec .container .header h3 {
  font-size: 25px;
  color: #303030;
}
.name-sec .container span {
  color: #777;
  font-size: 15px;
}
/* search and button */
.name-sec .search input {
  width: 280px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #eee;
  border-radius: 10px;
  padding-left: 10px;
}
::placeholder {
  text-transform: capitalize;
  color: #303030;
}
.name-sec .search button {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  background-color: #0099ff;
}
/* end head and searchbar */
/* start title */
.info {
  background-color: #eee;
}
.info .container {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .container .title {
  width: 45%;
}
.info .container .title h2 {
  text-transform: capitalize;
  font-size: 40px;
  color: #303030;
  margin-bottom: 15px;
}
.info .container .title p {
  color: #777;
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 1.4;
}
.info .container .title button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  background-color: #0099ff;
}
.info .container .title span {
  font-size: 15px;
  font-weight: 100;
  padding-left: 5px;
  color: #fff;
}
/* end title */
/* start first image */
.info .container .top-image {
  width: 50%;
}
.info .container .top-image img {
  width: 100%;
}
/* end first image */
/* start tutorial section */
.tutorial {
  padding: 40px 0;
}
.tutorial .container {
  display: flex;
  justify-content: space-between;
}
.tutorial .container .tutorial-image {
  width: 470px;
}
.tutorial .container .bottom-image img {
  width: 100%;
}
.tutorial .tutorial-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.tutorial .container .properties {
  text-align: center;
}
.tutorial .properties .img-cont {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.tutorial .properties .img-cont img {
  width: 100%;
}
.tutorial .properties h3 {
  text-transform: capitalize;
  padding: 5px 0;
  color: #303030;
}
.tutorial .properties p {
  padding: 0 10px;
  color: #777;
}
/* end tutorial section */
/* start contact us  */
.contact-us {
  padding: 40px 0;
}
.contact-us .container {
  background-color: #e0e0e0;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.contact-us .container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: #0099ff;
  top: 0%;
  left: 0%;
}
.contact-us .container .text {
  color: #303030;
}
.contact-us .container .text h1 {
  margin-bottom: 10px;
  font-size: 65px;
  font-weight: 500;
}
.contact-us .container .text p {
  color: #505050;
  font-weight: 500;
  font-size: 30px;
}
.contact-us .container .contact {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us .container .contact button {
  width: 250px;
  height: 60%;
  border: none;
  background-color: #0099ff;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 25px;
  border-radius: 10px;
}
/* end contact us  */
/* start about section */
.about {
  background-color: #1a1a1a;
}
.about h2 {
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 25px;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.about h3 {
  color: #999;
  text-transform: capitalize;
}
p,
span {
  color: #666;
}
.about .container {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.about .container .about-us img {
  width: 100%;
}
.about .container .about-us p {
  margin-top: 10px;
  word-spacing: 2px;
}
.about .container .quick-links {
  display: grid;
  justify-content: center;
}
.about .container .quick-links ul {
  list-style: none;
  justify-content: center;
}
.about .container .quick-links ul li {
  padding-bottom: 10px;
}

.about .container .quick-links ul li a {
  color: #0099ff;
  font-weight: 500;
}
.about .container .quick-links ul li a:hover {
  opacity: 75%;
  transition: opacity 0.3s ease-in;
}
.about .container .quick-links ul li span {
  font-size: 10px;
  padding-left: 5px;
  color: #aaa;
  margin-right: 8px;
}
.about .container .latest-blog h3 {
  padding: 0 0 5px 10px;
}
.about .container .latest-blog span i {
  font-size: 11px;
}
.about .container .latest-blog p {
  padding: 15px 0;
}
.about .container .latest-blog .read-more,
.about .container .about-us .read-more {
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  color: #0099ff;
}
.about .container .latest-blog .read-more {
  display: flex;
  margin: -5px 0 20px 0;
}
.about .container .about-us .read-more {
  margin: 5px 0;
  display: flex;
  justify-self: end;
}
.about .container .latest-blog .read-more span,
.about .container .about-us .read-more span {
  color: #0099ff;
  margin-left: 5px;
}
.about .container .form input[type="text"],
.about .container .form input[type="email"] {
  width: 95%;
  outline: none;
  height: 30px;
  margin: 5px 0;
  padding-left: 20px;
  background-color: #303030;
  color: #e0e0e0;
  border: none;
  border-radius: 8px;
}
.about .container .form textarea {
  width: 95%;
  outline: none;
  padding-top: 10px;
  padding-left: 20px;
  margin-top: 5px;
  width: 95%;
  height: 120px;
  background-color: #303030;
  color: #e0e0e0;
  border: none;
  border-radius: 8px;
}
.about .container .form input[type="submit"] {
  width: 73px;
  height: 30px;
  padding: 2px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  font-size: inherit;
  font-family: inherit;
  text-transform: capitalize;
  color: #fff;
  background-color: #0099ff;
}
footer {
  height: 60px;
  background-color: #222;
  color: #777;
  font-size: 17px;
  padding: 25px 0 0 20px;
}
/* end about section */
/* *** reponsive design *** */
/* *** laptops & large tablets design *** */
@media (max-width: 1280px) {
  .container {
    width: 1000px;
    padding: 0 20px;
    max-width: 100%;
  }
  .head-menu {
    align-items: center;
    color: #fff;
    font-size: 18px;
  }
  .head-menu ul li::after {
    right: -15px;
  }
  .head-icons {
    padding: 10px;
    width: 250px;
  }
  .head-icons ul li a {
    padding: 10px;
    font-size: 20px;
  }
  .tutorial .tutorial-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
  .contact-us {
    padding: 20px 0;
  }
  .contact-us .container {
    padding: 20px;
  }
  .contact-us .container::after {
    width: 7px;
  }
  .contact-us .container .text h1 {
    font-size: 50px;
  }
  .contact-us .container .text p {
    font-size: 22px;
  }
  .contact-us .container .contact button {
    font-size: 22px;
  }
}
/* *** normal tablets *** */
@media (max-width: 990px) {
  .container {
    width: 970px;
    padding: 0 10px;
  }
  .head-menu {
    font-size: 17px;
  }
  .head-icons ul li a {
    font-size: 18px;
  }
  .tutorial .tutorial-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
  .contact-us {
    padding: 20px 0;
  }
  .contact-us .container {
    padding: 20px;
  }
  .contact-us .container::after {
    width: 7px;
  }
  .contact-us .container .text h1 {
    font-size: 50px;
  }
  .contact-us .container .text p {
    font-size: 22px;
  }
  .contact-us .container .contact button {
    font-size: 22px;
  }

  .navbar .container ul {
    padding: 15px 0 35px;
  }
  .navbar .container ul li {
    margin-bottom: 10px;
    margin-right: 12px;
  }
  .navbar .container ul li a {
    font-size: 15px;
  }
  .navbar .container ul li a::after,
  .navbar .container .active::after {
    bottom: -10px;
    height: 2px;
  }
  .name-sec .container {
    max-width: 100%;
  }
  .name-sec .container .header h3 {
    font-size: 22px;
  }
  .name-sec .search input {
    width: 220px;
  }
  .name-sec .search button {
    font-size: 18px;
  }
  .info .container {
    padding: 25px 15px;
    max-width: 100%;
  }
  .info .container .title h2 {
    font-size: 30px;
    margin: 12px 0;
  }
  .info .container .title p {
    font-size: 22px;
    margin-bottom: 18px;
    line-height: 1.2;
  }
  .info .container .title button {
    width: 140px;
    height: 45px;
    font-size: 18px;
  }
  .info .container .title span {
    font-size: 14px;
    padding-left: 3px;
  }
  .info .container .top-image {
    width: 40%;
  }
  .tutorial {
    padding: 30px 0;
  }
  .tutorial .container {
    max-width: 100%;
    display: block;
    place-items: center;
  }
  .tutorial .container .tutorial-image {
    width: 100%;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
  }
  .tutorial .container .tutorial-image img {
    margin-top: -190px;
    width: 100%;
  }
  .tutorial .tutorial-content {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }
  .tutorial .properties .img-cont {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  .contact-us {
    padding: 30px 0;
  }
  .contact-us .container {
    max-width: 100%;
    padding: 30px 15px;
  }
  .contact-us .container::after {
    width: 8px;
  }
  .contact-us .container .text h1 {
    margin-bottom: 10px;
    font-size: 45px;
  }
  .contact-us .container .text p {
    font-size: 20px;
  }
  .contact-us .container .contact button {
    width: 200px;
    font-size: 20px;
  }
  .about h2 {
    padding-bottom: 20px;
  }
  .about .container {
    padding: 30px 0;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 10px;
  }
  .about .container .quick-links ul li {
    padding-bottom: 8px;
  }
  .about .container .latest-blog p {
    padding: 12px 0;
  }
  footer {
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 770px;
    padding: 0 14px;
    max-width: 100%;
  }

  .head-menu {
    font-size: 16px;
  }
  .head-menu > .container {
    width: 330px;
  }
  .head-menu ul li:not(:last-of-type):after {
    right: -5px;
  }
  .head-menu .container ul li:not(:last-of-type) {
    margin-right: 8px;
  }
  .navbar .container ul li a {
    text-transform: capitalize;
  }
  .name-sec .search input {
    width: 200px;
  }
  .name-sec .search button {
    font-size: 16px;
  }
  .info .container {
    padding: 10px;
  }
  .info .container .title h2 {
    font-size: 25px;
    margin: 10px 0 5px;
  }
  .info .container .title p {
    font-size: 20px;
    margin-bottom: 16px;
    line-height: 1.1;
  }
  .info .container .title button {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
  .info .container .title span {
    font-size: 14px;
    padding-left: 0;
  }
  .info .container .top-image {
    width: 50%;
  }
  .tutorial {
    padding: 20px 0;
  }
  .tutorial .container {
    display: block;
  }
  .tutorial .container .tutorial-image img {
    margin-top: -100px;
  }
  .tutorial .tutorial-content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
  }
  .tutorial .properties .img-cont {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .contact-us .container {
    padding: 30px 10px;
  }
  .contact-us .container::after {
    width: 8px;
  }
  .contact-us .container .text h1 {
    margin-bottom: 10px;
    font-size: 35px;
  }
  .contact-us .container .text p {
    font-size: 18px;
  }
  .contact-us .container .contact button {
    width: 170px;
    font-size: 18px;
  }
  .about h2 {
    padding-bottom: 16px;
  }
  .about .container {
    padding: 20px 0;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
  .about .container .latest-blog p {
    padding: 12px;
  }
  footer {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 0 20px;
  }
}
/* *** mobile design *** */
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .header-container .container {
    display: block;
  }
  .head-menu > .container {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 0;
  }
  .head-menu ul li:not(:last-of-type):after {
    right: -15px;
  }
  /* icon section */
  .head-icons {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: center;
  }
  .head-icons .icons-list {
    list-style: none;
  }
  .head-icons ul li a {
    font-size: 20px;
  }
  .name-sec .container .header {
    width: 50%;
  }
  .name-sec .container .header h3 {
    font-size: 18px;
  }
  .name-sec .search {
    width: 45%;
  }
  .name-sec .search input {
    width: 120px;
    height: 30px;
    padding: 0 10px;
  }
  .name-sec .search button {
    width: 60px;
    height: 30px;
    font-size: 16px;
  }
  .info .container {
    padding: 40px 0;
    display: block;
  }
  .info .container .title {
    width: 100%;
    text-align: center;
  }
  .info .container .title h2 {
    font-size: 40px;
  }
  .info .container .title p {
    line-height: 1.4;
  }
  .info .container .title button {
    width: 150px;
    height: 50px;
    font-size: 18px;
  }
  .info .container .top-image {
    width: 100%;
    margin-top: 15px;
  }

  .tutorial {
    padding: 40px 0;
  }
  .tutorial .container {
    display: block;
  }
  .tutorial .container .tutorial-image {
    width: 100%;
    height: fit-content;
  }
  .tutorial .tutorial-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px 10px;
  }
  .contact-us {
    padding: 20px 0;
  }
  .contact-us .container {
    padding: 20px 10px;
    display: block;
  }
  .contact-us .container::after {
    display: none;
  }
  .contact-us .container .text h1,
  .contact-us .container .text p {
    margin-bottom: 10px;
    font-size: 35px;
    text-align: center;
  }
  .contact-us .container .text p {
    font-size: 18px;
  }
  .contact-us .container .contact {
    width: 100%;
  }
  .contact-us .container .contact button {
    width: 100%;
    height: 50px;
    font-size: 20px;
  }
  .about h2 {
    padding-bottom: 20px;
    text-align: center;
  }
  .about .container {
    padding: 20px;
    display: block;
  }
  .about .container .quick-links {
    display: block;
    text-align: center;
  }
  .about .container .quick-links ul {
    list-style: none;
    justify-content: center;
  }
}
